body,
html,
#root {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Andale Mono, monospace;
  user-select: none;
}

#root {
  width: 1080px;
  height: 1920px;
  border: 2px solid black
}