ul {
  list-style-type: none;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Andale Mono, monospace;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  background: lightyellow
}